%turbo-frame#suggestions{ data: { "search-target": "suggestions", action: "mousedown->search#childClicked" } }
  - if @results.any?
    %turbo-frame#suggestions.absolute.w-full.overflow-y-auto.max-h-60.bg-white.rounded-lg.shadow-lg.z-10
      - @results.each do |user|
        .p-4.flex.flex-row.border-b.border-gray-300.hover:bg-gray-100
          .h-6
            = render AvatarComponent.new src: user.image, alt: user.full_name, size: "16"
          .p-2
            = user.full_name
