.h-10.w-10.rounded-full
  - if @user.image.nil?
    .avatar.placeholder
      .bg-neutral-focus.text-neutral-content.rounded-full.h-10.w-10
        = @user&.first_name[0]
  - else
    %img.rounded-full{ src: @user&.image, class: "w-#{@size} h-#{@size}"}
