.rounded-md.p-2.bg-neutral.flex.justify-start.items-center.flex-grow-0.flex-shrink-0.overflow-hidden{class: "gap-0.5 px-2.5"}
  - @friends.each do | friend |
    .bg-black.rounded-full.avatar.flex.flex-col.justify-center.items-start.relative.h-12.w-12
    .flex.flex-col.justify-center.items-center.flex-grow-0.flex-shrink-0.relative.overflow-hidden{class: "gap-2.5 p-2.5"}
      %p.flex-grow-0.flex-shrink-0.text-base.font-semibold.text-left.text-black
        - p friend.full_name
        = friend.full_name
