.overflow-hidden.rounded-md.border.border-gray-300.bg-white
  .divide-y.divide-gray-300
    - @friends.each do | friend |
      %li.px-6.py-4.chat.chat-end
        .chat-image.avatar
          = render AvatarComponent.new user: friend, size: "8"
        .chat-header.text-xs
          = friend.full_name
        .chat-bubble.text-sm.py-3.px-4
          Friendo
