.navbar.bg-base-100
  .flex-1
    %a.btn.btn-ghost.normal-case.text-xl{ href: "/"  }
      = image_tag "asprin.gif", class: "mx-auto w-auto h-10"
  - if user_signed_in?
    .flex-none.gap-2
      .form-control
        %input.input.input-bordered{:placeholder => "Search", :type => "text"}/
      %label.sr-only{ for: "notifications" } Notifications
      %button.dropdown.dropdown-end.indicator#notifications
        %turbo-frame{ id: "all_notifs", src: "/notifications/feed" }
          = heroicon "bell", options: { class: "h-8 w-8" }
      %label.sr-only{ for: "profile" } Profile
      .dropdown.dropdown-end#profile
        .btn.btn-ghost.btn-circle.avatar{:tabindex => "0"}
          = render AvatarComponent.new user: current_user, size: "8"
        %ul.mt-3.p-2.shadow.menu.menu-compact.dropdown-content.bg-base-100.rounded-box.w-52{:tabindex => "0"}
          %li
            %a{ href: edit_profile_path } Profile
          %li
            %a.justify-between{ href: edit_user_registration_path }
              Account Settings
          %li
            %a{ href: destroy_user_session_path } Logout
  - else
    %a.btn{ href: new_user_registration_path } Sign up
