.items-start.align-start.grid.grid-cols-12.gap-2.px-8.p-2
  .col-span-10#main
    = render partial: "posts/form"
    = render partial: "posts/feed", locals: { posts: @posts }
  .col-span-2#friends
    = render partial: "friends/list", locals: { friends: @friends}
