.mx-auto.max-w-7xl.px-4.sm:px-6.lg:px-8
  .max-w-3xl
    %ul.flex-row.justify-left.divide-y.gap-4#posts{ role: "list" }
      %turbo-frame#posts
        = render partial: "posts/post", collection: @posts
